<button type="button" class="btn btn-primary">Primary Button</button>
<button type="button" class="btn btn-secondary">Button</button>
<button type="button" class="btn btn-success">Button</button>
<button type="button" class="btn btn-danger">Button</button>
<button type="button" class="btn btn-warning">Button</button>

<div>
  <button type="button" class="btn btn-outline-primary">Outline primary</button>
  <button type="button" class="btn btn-outline-secondary">Outline secondary</button>
  <button type="button" class="btn btn-outline-success">Outline success</button>
</div>
