<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Soy un encabezado H1</h1>
      <h2>Soy un encabezado H2</h2>
      <h3>Soy un encabezado H3</h3>
      <h4>Soy un encabezado H4</h4>
      <h5>Soy un encabezado H5</h5>
      <h6>Soy un encabezado H6</h6>
    </div>
    <div class="col-12">
      <app-primary-button buttonText="Primary Button"></app-primary-button>
      <app-secondary-button
        buttonText="Secondary Button"
      ></app-secondary-button>
    </div>
  </div>
</div>
