button {
  background-color: var(--button-background-color);
  border: none;
  border-radius: 3px;
  box-sizing: content-box;
  color: var(--button-color);
  display: inline-block;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 0.5s;

  &:focus {
    outline: none;
  }
}
