@font-face {
  font-family: "PreloSlab-Bold";
  src: url("~src/assets/fonts/PreloSlab-Bold.otf"),
    url("~src/assets/fonts/PreloSlab-Bold.woff") format("woff");
}

@font-face {
  font-family: "PreloSlab-Book";
  src: url("~src/assets/fonts/PreloSlab-Book.otf"),
    url("~src/assets/fonts/PreloSlab-Book.woff") format("woff");
}

@font-face {
  font-family: "PreloSlab-ExtraBold";
  src: url("~src/assets/fonts/PreloSlab-ExBd.otf"),
    url("~src/assets/fonts/PreloSlab-ExBd.woff") format("woff");
}

@font-face {
  font-family: "PreloSlab-Light";
  src: url("~src/assets/fonts/PreloSlab-Light.otf"),
    url("~src/assets/fonts/PreloSlab-Light.woff") format("woff");
}

@font-face {
  font-family: "PreloSlab-SemiBold";
  src: url("~src/assets/fonts/PreloSlab-SemiBold.otf"),
    url("~src/assets/fonts/PreloSlab-SemiBold.woff") format("woff");
}
