.pokemon-details-container {
  @apply w-screen;
  @apply h-screen;
  @apply p-1;
}

.pokemon-card {
  @apply w-full;
  @apply h-full;
  @apply relative;

  &::before {
    @apply block;
    @apply absolute;
    @apply left-2;
    @apply top-2;
    @apply bg-pokeball;
    @apply bg-no-repeat;
    content: " ";
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    background-size: 13rem;
    opacity: 0.1;
    background-position: right 0.25rem top 0.25rem;
  }
}

.pokemon-card-header {
  @apply h-56;
}

.pokemon-card-title {
  @apply relative;
  @apply pt-5 pr-7 pl-7 pb-6;
  @apply flex;
  @apply flex-row;
  @apply items-center;
  @apply justify-between;
}

.card-back {
  @apply w-8;
  @apply h-8;
}

.card-title,
.card-subtitle {
  @apply not-italic;
  @apply font-bold;
  @apply text-white;
  @apply capitalize;
}

.card-title {
  @apply text-2xl;
}

.card-subtitle {
  @apply text-xs;
}

.pokemon-image {
  @apply flex;
  @apply relative;
  @apply z-50;
  @apply justify-center;
  @apply items-center;

  & > .pokemon-image-sprite {
    @apply w-52;
    @apply h-52;
  }
}

.pokemon-details {
  @apply w-full;
  @apply bg-white;
  @apply rounded-lg;
  height: calc(100% - 13.75rem);
}
