<ng-container *ngIf="pokemon">
  <div [className]="'pokemon-card-container bg-' + pokemon.types[0].type.name">
    <div class="pokemon-card">
      <div class="pokemon-card-header">
        <div class="pokemon-card-title">
          <button type="button" class="card-back" routerLink="../../">
            <img src="/assets/images/arrow_back.svg" alt="arrow_back">
          </button>
          <h1 class="card-title">{{ pokemon.name }}</h1>
          <h2 class="card-subtitle">#{{ pokemon.id | number: '3.0-0' }}</h2>
        </div>
      </div>
      <div class="pokemon-card-image">
        <img class="pokemon-image-sprite" [src]="pokemon.sprites.other['official-artwork'].front_default"
          [alt]="pokemon.name" (error)="pokemon.sprites.other['official-artwork'].front_default = this.defaultPokemonImage">
      </div>
      <div class="pokemon-card-details">
        <div class="pokemon-card-types">
          <ng-container *ngFor="let item of pokemon.types">
            <span [className]="'pokemon-type-tick bg-' + item.type.name">{{ item.type.name }}</span>
          </ng-container>
        </div>
        <div class="pokemon-card-about">
          <h2 [className]="'card-subtitle text-' + pokemon.types[0].type.name">About</h2>

          <div class="pokemon-attributes">
            <div class="attribute-details">
              <div class="attribute-value">
                <img src="/assets/images/weight.svg" alt="icon_weight">
                <span>{{ pokemon.weight /10 | number: '1.1-2' }} kg</span>
              </div>
              <h3 class="attribute-title">Weight</h3>
            </div>
            <div class="attribute-details">
              <div class="attribute-value">
                <img src="/assets/images/straighten.svg" alt="icon_straighten">
                <span>{{ pokemon.height /10 | number: '1.1-2' }} m</span>
              </div>
              <h3 class="attribute-title">Height</h3>
            </div>
            <div class="attribute-details">
              <div class="attribute-value attribute-value-list">
                <ng-container *ngFor="let item of pokemon.abilities">
                  <span class="attribute-value">{{ item.ability.name }}</span>
                </ng-container>
              </div>
              <h3 class="attribute-title">Abilities</h3>
            </div>
          </div>

          <div class="pokemon-about-flavour">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis eros vitae tellus condimentum maximus sit amet in
              eros.
            </span>
          </div>

          <div class="pokemon-about-stats">
            <h2 [className]="'card-subtitle text-' + pokemon.types[0].type.name">Base Stats</h2>
          </div>

        </div>
      </div>




    </div>
  </div>

</ng-container>
